<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="public/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <script src="public/plotly-latest.min.js"></script>
    <script src="axios/dist/axios.min.js"></script>
  </head>

  <body>
    <header>
      <h1>Asclepios Monitor</h1>
    </header>
    <section>
      <h1 id="title"></h1>
      <div id="chart"></div>
    </section>
    <section id="controls">
      <button type="">Control 1</button>
      <button type="">Control 2</button>
      <button type="">Control 3</button>
    </section>
  </body>

  <script>
    const resetPlotData = (color) => {
      return (
        {
          x: [],
          y: [],
          type:'line',
          mode: 'lines+markers',
          marker: {
            color: color,
            size: 8,
          },
          line: {
            color: color,
            width: 1,
            shape : "spline"
          }
        }
      )
    }

    const reset = (colors) => {
      let result = []
      for(let i=0; i<colors.length; i++){
        result.push(resetPlotData(colors[i]))
      }
      return result
    }

    const empty = (length) => {
      result = [];
      for(let i=0; i<length; i++){
        result.push([])
      }
      return result
    }

    const addZeros = num => {
      if(num < 10) {
        return '0'+num.toString();
      } else {
        return num.toString();
      }
    }
    const getLastSeconds = (offset) => {
      let result = []
      let date = new Date()
      for(let i=0; i<offset; i++) {
        result.unshift(date);
        date = new Date(date.getTime() - 500);
      }
      return result.map(date => {
        return `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()} ${addZeros(date.getHours())}:${addZeros(date.getMinutes())}:${addZeros(date.getSeconds())}`
      })
    }

    var indexMap = ["RESP", "PLETH", "II" , "V", "AVR"]
    var colors = ['#302b63', 'red', 'green', 'blue', 'black']
    var historics = reset(colors)

    Plotly.plot('chart', historics, {
      title:'Last 100 seconds',
      height: 300,
      margin: {
        l: 50,
        r: 50,
        b: 40,
        t: 40,
        pad: 4
      },
      paper_bgcolor: 'white',
      plot_bgcolor: 'rgba(255, 255 255, 0.4)',
    });

    let first = true;
    setInterval(function() {
      axios.get("http://localhost:8080/history").then(async res => {
        let newData = res.data.data
        let historicsUpdate = {
          x : empty(historics.length),
          y : empty(historics.length)
        };
        console.log(newData)
        for(let i=0; i<newData.length; i++){
          for(let j=0; j<historics.length; j++){
            historicsUpdate.x[j].push(newData[i]["time"]);
            historicsUpdate.y[j].push(newData[i][indexMap[j]]);
          }
        }
        Plotly.restyle('chart', historicsUpdate, [0, 1, 2, 3, 4])
        
        if(first) {
          document.getElementById("title").innerHTML = `Monitoring ${res.data.name}`
          document.title = res.data.name
          first = false
        }
      }).catch(err => {
        console.log(err);
      })
    }, 100);


  </script>

</html>